/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Container */
.headerContainer {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* x-offset, y-offset, blur-radius, color */
}

.logo {
    margin-left: 4rem;
    padding-block: .5rem;
}

.logo img {
    height: 3.3rem;
    width: 9rem;
    margin-left: 4rem;
    object-fit: contain;
}

.HeaderContent {
    padding: 1.3rem 0rem;
    margin-left: 3rem;
}

.nav-menu {
    list-style: none;
    padding: 0;
}

.nav-menu li {
    display: inline;
    margin: 0 33px; 
}

.nav-menu a {
    color: black;
    text-decoration: none; 
    font-size: 1.1rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
}

.nav-menu a:hover {
    color: rgb(255,100,0);
}

.HeaderButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 1rem;
}

.LogIn, .SignUp {
    padding: .8rem 1.8rem;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
    color: white;
}

.LogIn {
    background-color: rgb(255,100,0);
    margin-right: 2.4rem;
}

.SignUp {
    background-color: rgb(255,100,0);
}

.headerblue {
    height: 3rem;
    background-color: rgb(54,48,85);
}

.headerblue h1 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: .7rem 10rem;
}

/* Responsive adjustments */
@media only screen and (max-width: 900px) {
    .logo img {
        height: 2.8rem;
        width: 7.5rem;
        margin-left: 2rem;
    }
    
    .HeaderContent {
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 700px) {
    .nav-menu li {
        margin: 0 15px; /* Adjusted spacing for smaller screens */
    }
    
    .LogIn, .SignUp {
        padding: .6rem 1.5rem; /* Smaller button padding */
        font-size: 1rem; /* Smaller font size */
    }
}

@media only screen and (max-width: 500px) {
    .logo {
        margin-left: 1rem;
    }
    
    .nav-menu li {
        margin: 0 10px; /* Further reduced spacing for very small screens */
    }
}
