/* home1.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topImg {
  width: 94rem;
  height: 9rem;

  > img {
    width: 100%;
    height: 100%;
  }
}

.HomeRight {
  position: relative;
  width: 50rem;
  height: 45rem;

  /* border: 2px solid red; */

  margin-right: 3rem;
  padding-right: 3rem;
}
.MidContent {
  display: flex;

  padding: 0rem 3rem;
  margin: 0rem 3rem;
}

.HomeLeft {
  width: 40rem;
  height: 45rem;

  padding-left: 3rem;
  > button {
    margin-top: 2.5rem;
    padding: 1.3rem 3rem;
    border: none;
    background-color: rgb(255, 100, 0);
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 7px;
  }
  .orange {
    color: rgb(255, 100, 0);
  }

  > h3 {
    margin-top: 3rem;
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(41, 183, 179);
    font-size: 1.2rem;
    font-weight: 400;
  }
  > h1 {
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(40, 33, 76);
    font-size: 3.6rem;
    font-weight: 400;
    margin-top: 1rem;
  }
  > p {
    margin-top: 1.7rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: rgb(134, 134, 134);
  }
}

/* Optional: Add additional styling to ensure the images align as you want */
.HomeRight .img1 {
  position: absolute;
  width: 43rem;

  top: -7rem;
}

.HomeRight .img2 {
  position: absolute;
  width: 25rem;
  margin-left: 9rem;
  top: -6rem;
  z-index: 1;
}

/* Home2.css */

.Home2container {
  padding: 0rem 3rem;
  margin: 0rem 3rem;
}

.home2Top {
  padding: 0rem 4rem;
  margin: 0rem 2rem;
}

.HomeTopContent {
  text-align: center;

  padding: 0rem 4rem;
  margin: 0rem 4rem;

  > h3 {
    font-family: "Poppins", sans-serif;
    color: rgb(41, 183, 179);
    font-size: 1.2rem;
    font-weight: 400;
  }

  > h1 {
    margin-top: 2rem;
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(40, 33, 76);
    font-size: 3.6rem;
    font-weight: 400;
  }
}

.Home2mid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2rem;
}

.card {
  text-align: center;
  margin-left: 1rem;
  display: grid;
  width: 30rem;
  grid-template-columns: 2fr 1fr;
}

.cardContent {
  > h1 {
    margin-top: 1.5rem;
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(40, 33, 76);
    font-size: 2.2rem;
    font-weight: 300;
  }
  > p {
    margin-top: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    color: rgb(152, 152, 152);
  }
}

.cardSpecialContent {
  > h1 {
    margin-top: 1.5rem;
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(40, 33, 76);
    font-size: 2.2rem;
    font-weight: 300;
  }
  > p {
    margin-top: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    color: rgb(152, 152, 152);
  }
}

.card1 {
  text-align: center;
  width: 20rem;
  margin-left: 3rem;
  > h1 {
    margin-top: 1.5rem;
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(40, 33, 76);
    font-size: 2.2rem;
    font-weight: 300;
  }
  > p {
    margin-top: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    color: rgb(152, 152, 152);
  }
}

.cardImg {
}
.cardContent {
}

.cardSpecial {
  display: grid;
  margin-left: 2rem;
  grid-template-columns: 2fr 1fr;

  width: 30rem;
  text-align: center;

  margin-top: 8rem;
}

/* home3.css */
.Home2Container {
  margin-inline: 3rem;
  margin-top: 2rem;

  padding: 3rem;
  text-align: center;
  > h3 {
    font-family: "Poppins", sans-serif;
    color: rgb(41, 183, 179);
    font-size: 1.2rem;
    font-weight: 300;
  }
  > h1 {
    margin-top: 1.5rem;
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(40, 33, 76);
    font-size: 3.6rem;
    font-weight: 400;
  }

  > img {
    margin-top: 3rem;
  }
}

/* home 4.css */

.Home4container {
  padding: 0rem 4rem;
  margin: 0rem 4rem;
}

.home4Img {
  padding: 0rem 4rem;
  margin: 0rem 4rem;
  > img {
    padding: 0rem 4rem;
    margin: 0rem 4rem;
  }
}

.Home4cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0rem 4rem;
  margin: 0rem 4rem;
}

.home4card {
  width: 22rem;
  padding: 0rem 2rem;

  margin-left: 4rem;

  text-align: center;
  margin-top: 3rem;

  > h3 {
    margin-top: 1.5rem;
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(40, 33, 76);
    font-size: 1.8rem;
    font-weight: 400;
  }
  > p {
    margin-top: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    color: rgb(152, 152, 152);
  }
  > img {
    margin-top: 2.5rem;
  }
  > button {
    margin-top: 2rem;
    background-color: #dad6d6;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 2rem;
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
  }
}

.home4card:hover {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 35px;
  border: 2px solid rgb(255, 100, 0);

  > button {
    background-color: rgb(255, 100, 0);
    color: white;
  }
}

/* home 5css */

.Home5Conatiner {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;

  align-items: center;
  justify-content: center;

  margin-block: 6rem;

  > img {
    margin-left: 4rem;
  }
}

.home5card {
  width: 22rem;
  text-align: center;
  > h3 {
    margin-top: 1.5rem;
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(40, 33, 76);
    font-size: 1.8rem;
    font-weight: 400;
  }
  > p {
    margin-top: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    color: rgb(152, 152, 152);
  }
  > img {
    margin-top: 2.5rem;
  }
  > button {
    margin-top: 2rem;
    background-color: #dad6d6;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 2rem;
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
  }
}

.home5card2 {
  margin-left: 3rem;
  width: 22rem;
  text-align: center;
  > h3 {
    margin-top: 1.5rem;
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(40, 33, 76);
    font-size: 1.8rem;
    font-weight: 400;
  }
  > p {
    margin-top: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    color: rgb(152, 152, 152);
  }
  > img {
    margin-top: 2.5rem;
  }
  > button {
    margin-top: 2rem;
    background-color: #dad6d6;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 2rem;
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
  }
}

.home5card:hover {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 35px;
  border: 2px solid rgb(255, 100, 0);

  > button {
    background-color: rgb(255, 100, 0);
    color: white;
  }
}

.home5card2:hover {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 35px;
  border: 2px solid rgb(255, 100, 0);

  > button {
    background-color: rgb(255, 100, 0);
    color: white;
  }
}

/* home 6.css */

.home6container {
  background: linear-gradient(
    to right,
    rgb(203, 239, 230),
    rgb(222, 226, 251),
    rgb(227, 223, 251),
    rgb(206, 239, 234),
    rgb(253, 254, 252)
  );

  height: 49rem; /* Adjust the height as needed */
  width: 100%;
 
  
}


.home6RightPart{
   
    width: 50%;
margin-top: 3rem;
padding-top: 3rem;
padding-inline: 3rem;
>h3{
    margin-top: 2rem;
    font-family: "Poppins", sans-serif;
    color:  rgb(41, 183, 179);;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: .3rem;

}
>h1{
    margin-top: 1.5rem;
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(40, 33, 76);
    font-size: 3rem;
    font-weight: 400;
  }
  >p{
    margin-top: 1.5rem;
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
  }
  }


    


.home6content {
  display: flex;

  padding: 4rem;
  margin: 4rem;
}

.home6leftPart {
  position: relative;
}

.home6circle {
  position: absolute;
}

.home6girl {
  position: absolute;
  left: 8rem;
  top: .6rem;
  z-index: 1;
}

.home6RightPartBottom{
   
    width: 39rem;
    
}

.happy,.total{
    display: flex;
    margin-top: 3rem;

    
  
}

.happyRight,.totalRight{
    >img{
        height: 5rem;
        width: 6rem;
    }
}

.happyLeft,.totalLeft{
    >h3{
margin-top: .8rem;
font-family: "Roboto Condensed", sans-serif;

    font-size: 1.4rem;
    font-weight: 400;
    }
}

.orange{
    color: rgb(255, 100, 0);
}

.blue{
    margin-top: .8rem;
    font-family: "Roboto Condensed", sans-serif;
    color:  rgb(40, 33, 76);
        font-size: 1.4rem;
        font-weight: 400; 
        margin-left: .4rem;
}
.home6RightPartBottom{
    display: grid;
    
    grid-template-columns: 1fr 1fr;
}